<!-- NavBar -->
<div class="navbar">
  <button (click)="previousPage()"><i class="fa-solid fa-chevron-left"></i></button>
  <p>Page {{currentPageIndex+1}} / {{pageCount}}</p>
  <button (click)="nextPage()"><i class="fa-solid fa-chevron-right"></i></button>
</div>
<!-- fin NavBar-->

<!-- Recherche médicament -->
<div class="wrapper pt-0" style="background-color: #0F7ABB;">
  <main>
    <header>
      <div class="d-flex justify-content-center align-items-center" style="margin-top: 100px;">
        <img src="../assets/Fichier 12.svg" width="350" height="150" alt="" class="image-fluid">
      </div>
      <h2 class="mt-4">By E-Pharma GA</h2>
      <p>Cette solution vous permet d'avoir la disponibilité des produits et faire des réservations dans toutes les
        pharmacies possédant le logiciel ePharma</p>
      <p>
        <a href="https://epharma.ga">En savoir plus</a>
      </p>
      <div class="d-flex justify-content-center">
        <button class="text-primary" (click)="openModal()"
          style="border-radius: 30px;border-color: white; padding-top: 10px;padding-bottom: 10px;padding-left: 20px;padding-right: 20px; background-color: white;">
          Politique de confidentialité
        </button>
      </div>
    </header>


    
    <!--Début du modal sur les termes d'utilisation des données personnelles-->
    <div id="myModal" class="modal" 
      style="display:none;position: fixed;z-index: 1;left: 0;top: 0;width: 100%;height: 100%;background-color: rgb(0, 0, 0);background-color: rgba(0, 0, 0, 0.4);">
      <div class="modal-content text-center" style="background-color: #fefefe;margin: 15% auto;padding: 20px;border: 1px solid #888;width: 60%;overflow: auto;">
        <div class="d-flex justify-content-center">
          <img src="../assets/Fichier 12.svg" width="200" height="200" alt="">
        </div>
        <div>
          <h3 class="fw-bold" style="font-size: 16px;font-family: sans-serif;">Bienvenue sur TOCTOCMEDOC !</h3>
          <p style="font-size: 16px;font-family: sans-serif;">
            Nous attachons une grande importance à la protection de vos données personnelles et nous
            voulons nous assurer que vous comprenez comment nous utilisons et protégeons ces informations.
            Veuillez lire attentivement les informations ci-dessous et donner votre consentement pour
            l'utilisation de vos données personnelles.
          </p>
        </div>
        <div>
          <h6 class="fw-bold" style="font-size: 16px; font-family: sans-serif;">
            1. Collecte des Données Personnelles
          </h6>
          <p>
            En utilisant TOCTOCMEDOC, vous consentez à la collecte des informations suivantes : <br>
            - Informations d'identification (nom, prénom, adresse e-mail, etc.) <br>
            - Informations de compte et de connexion <br>
            - Informations de paiement (le cas échéant) <br>
          </p>
          <h6 class="fw-bold" style="font-size: 16px; font-family: sans-serif;">
            2. Utilisation des Données Personnelles
          </h6>
          <p>
            Nous utilisons vos données personnelles dans les buts suivants :
            - Fourniture des services demandés
            - Personnalisation de l'expérience utilisateur
            - Traitement des transactions et paiements
            - Communication relative au service (notifications, mises à jour, etc.)
          </p>
          <h6 class="fw-bold" style="font-size: 16px; font-family: sans-serif;">
            3. Partage des Données Personnelles
          </h6>
          <p>
            Nous ne partageons pas vos données personnelles avec des tiers sauf dans les cas suivants :
            - Lorsque cela est nécessaire pour fournir les services demandés
            - Conformément aux lois et réglementations applicables
          </p>
          <h6 class="fw-bold" style="font-size: 16px; font-family: sans-serif;">
            1. Collecte des Données Personnelles
          </h6>
          <p>
            En utilisant TOCTOCMEDOC, vous consentez à la collecte des informations suivantes : <br>
            - Informations d'identification (nom, prénom, adresse e-mail, etc.) <br>
            - Informations de compte et de connexion <br>
            - Informations de paiement (le cas échéant) <br>
          </p>
          <h6 class="fw-bold" style="font-size: 16px; font-family: sans-serif;">
            4. Sécurité des Données
          </h6>
          <p>
            Nous mettons en place des mesures de sécurité appropriées pour protéger vos données
            personnelles contre tout
            accès non autorisé ou utilisation abusive.
          </p>
          <h6 class="fw-bold" style="font-size: 16px; font-family: sans-serif;">
            5. Durée de Conservation des Données
          </h6>
          <p>
            Vos données personnelles seront conservées pendant la durée nécessaire pour atteindre les objectifs
            mentionnés ci-dessus, sauf si une période de conservation plus longue est requise ou autorisée par la loi.
          </p>
          <h6 class="fw-bold" style="font-size: 16px; font-family: sans-serif;">
            6. Votre Consentement
          </h6>
          <p>
            En utilisant nos services, vous consentez à la collecte, au traitement, à l'utilisation et au partage de vos
            données personnelles conformément aux conditions énoncées ci-dessus.
            Si vous avez des questions ou des préoccupations concernant notre utilisation de vos données personnelles,
            n'hésitez pas à nous contacter à l’adresse contact@epharma.ga
          </p>
        </div>
        <span>Merci pour votre confiance !</span>
        <div class="d-flex justify-content-center mt-2">
          <button class="btn border border-1" (click)="closeModal()">Fermer</button>
        </div>
      </div>
    </div>
    <!--Fin du modal sur les termes d'utilisation des données personnelles-->





    <div class="produit-container">
      <p class="search-title">Recherchez des produits sur la page actuelle, utilisez les flèches pour changer de page
      </p>

      <div class="form-group-search">
        <input type="search" name="search" id="search" (keyup)="searchProducts($event)"
          placeholder="Trouver un produit...">
      </div>

      <div class="loader-container" *ngIf="filteredProduit.length == 0 && hasResult == false">
        <div class="loader"></div>
      </div>

      <div class="no-result" *ngIf="filteredProduit.length == 0 && hasResult == true">

        <p><i class="fa-solid fa-magnifying-glass"></i> Aucun résultat sur cette page, veuillez vérifier sur les autres
          pages !</p>
      </div>

      <div class="produits">
        <div class="produit" *ngFor="let produit of filteredProduit">
          <div class="img-container">
            <img [src]="produit.photoURL" *ngIf="produit.photoURL" alt="">
            <img src="../assets/placeholder.png" *ngIf="!produit.photoURL" alt="">
          </div>
          <div class="row-between">
            <h4>{{produit.libelle}}</h4>
            <!-- <p class="gray">{{produit.prix_vente}} FCFA</p> -->
            <p class="gray">{{produit.code_table ? 'Sous ordonnance' : ''}}</p>
            <div class="row">
              <button (click)="clickVerify('Vérifier', produit.CIP); loading = true" value="Vérifier">Vérifier</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- fin NavBar Recherche médicament-->

<!-- Choisir un tarif -->
<div class="inscription" *ngIf="modal_tarif">
  <div class="verify-container">
    <button id="change" (click)="clear()">Fermer</button>
    <div class="verify-content">
      <!-- Formulaire d'inscription -->
      <div class="verify-commande">
        <p>Choisir un tarif</p>

        <div class="tarif">
          <div class="produit" *ngFor="let produit of listTarif" (click)="clickTarif(produit.id, produit.price)">
            <div class="card">
              <!-- Vous pouvez ajouter ici une image du produit -->
              <h6> Titre : {{produit.libelle}}</h6>
              <h6>Prix : {{produit.price}} FCFA</h6>
              <h6>Nombre de crédit : {{produit.credit}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--fin Choisir un tarif -->

<!-- Disponibilité médoc -->
<div class="inscription" *ngIf="modal_verifier">
  <div id="popup1" class="overlay" *ngIf="showSnackbarError4">
    <div class="popup">
      <h4 style="color: red;">{{smserror}}</h4>
    </div>
  </div>
  <div *ngIf="form_modal_verifier">
    <div *ngIf="loading; else findit"></div>
    <ng-template class="verify-content" #findit>
      <div class="verify-commande p-0 rounded-2">
        <div *ngIf="addressProduit.length > 0; else addressIsNull">
          <div class="bg border rounded-top-2" style="background-color: #0F7ABB;">
            <div class="tarif p-1" *ngIf="addressProduit.length > 0">
              <p class="text-black ">Vous avez <b>{{ users.credit}}</b> crédit(s), cette action vaut
                <b>{{creditUser}}</b> crédit(s)
              </p><br>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <ul>
              <p class="mt-3" style="color: #0F7ABB;">Liste des villes où votre médicament est disponible : </p>
              <div class="container d-flex justify-content-center align-items-center ">
                <th class="col d-md-block justify-content-center align-items-center">
                  <tr>
                    <td class="bg bg-secondary-50">
                      <li *ngFor="let address of addressProduit; let i = index" class="list-unstyled">
                        <div class="d-inline-block mt-1 me-1"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path
                              d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6" />
                          </svg></div>{{ address }}
                      </li>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                </th>
              </div>
            </ul>
          </div>
          <p *ngIf="!isFinished">Nous continuons de chercher des pharmacies...</p>
          <p *ngIf="isFinished" style="color: #0F7ABB;">Recherche terminée!</p>
          <p class="px-3" style="color: #0F7ABB;">Confirmez pour voir les pharmacies ayant le produit en stock</p>
        </div>
        <ng-template #addressIsNull>
          <p class="pt-3 px-3">Pas de résultat trouvé</p>
        </ng-template>
        <div class="container1 ms-3 mt-4 pb-4">
          <button class="btn border border-1 ms-2" (click)="clear()">Annuler</button><button
            (click)="validerCredit(creditUser)" class="btn  ms-4 me-2" style="background-color: #0F7ABB;"
            *ngIf="addressProduit.length > 0">Confirmer</button>
        </div>
      </div>
    </ng-template>
  </div>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</div>
<!-- fin Disponibilité médoc-->


<!-- modal des modification user -->

<div class="inscription d-flex justify-content-center align-items-center" *ngIf="modal_modification"
  style="background: #f8f9fa; height: 100vh;">

  <div class="verify-container container" style=" max-width: 100%;">
    <div class="container d-flex align-items-center justify-content-center" id="img">
      <img src="../assets/Fichier 12.svg" alt="logo" width="150" height="100" class="img-fluid">
    </div>
    <div class="row" id="row" style="margin-top: 10px;">

      <!-- Formulaire -->

      <div id="col-md-8" id="col-12" class="col-md-8"
        style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px; width: 20%; padding: 1rem; margin: 0">
        <form [formGroup]="registerForm" (ngSubmit)="updateForm()">
          <p><b>Profil</b></p><br><br>
          <div>

            <small><b>Pseudo</b></small><br>
            <small id="nom">{{users.lastname}}</small>


            <!-- <div>
                            <label for="prenom"><b>Prénom :</b></label>
                            <h5 id="prenom">{{users.firstname}}</h5>
                        </div> -->
          </div><br>

          <div>

            <small for="email"><b>Email</b></small><br>
            <small id="email">{{users.email}}</small>

          </div><br>

          <div>

            <small for="phone"><b>Téléphone</b></small><br>
            <small id="phone">{{users.phone}}</small>

          </div>

          <a class="mt-3" (click)="profil()" style="font-size: 10px; cursor: pointer">Modifier le profil</a><br>
          <a class="mt-2" (click)="open_mdp()" style="font-size: 10px; cursor: pointer">Changer de mot de
            passe</a><br><br>
          <button class="btn btn-primary mt-2" (click)="clear()"
            style="width: 50%; background-color: #0F7ABB; color: white">Quitter
          </button>

        </form>
      </div>

      <!-- Informations sur les crédits -->
      <div id="col-md-4" id="col-12" class=" col-md-4"
        style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 8px; width: 70%; margin-left: 5%">

        <p>Mes crédits : <b>{{ users.credit}} crédits</b></p><br>
        <!-- <button class="btn btn-success col-12 mt-2" (click)="open_info_user_tarif()">Souscrire à un tarif</button> -->
        <p>Acheter des crédits</p>
        <div class="produits-container" style="overflow-y: scroll; max-height: 200px;">
          <div class="produit" *ngFor="let produit of listTarif">
            <div id="card" class="card">
              <!-- Vous pouvez ajouter ici une image du produit -->
              <h6 class="product-title">{{produit.libelle}}</h6>
              <div style="display: flex;">
                <div>
                  <p class="product-price">{{produit.price}} FCFA</p>
                </div>
                <div style="margin-left: 50%">
                  <p class="credit-quantity">{{produit.credit}} crédits</p>
                </div>
              </div>
              <hr>
              <div class="d-flex justify-content-center mb-1">
                <button class=" btn  badge py-2" style="width: 50%; background-color: #0F7ABB"
                  (click)="clickTarifInfoUser(produit.id, produit.price)"><small id="badge"
                    class="text-center text-white">Acheter</small>
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>


<div class="inscription" *ngIf="modal_modification1">

  <div id="popup1" class="overlay" *ngIf="showSnackbar2">
    <div class="popup">
      <h4 style="color: green;">Mise à jour success !!!</h4>
    </div>
  </div>
  <div id="popup1" class="overlay" *ngIf="showSnackbarError2">
    <div class="popup">
      <h4 style="color: red;">{{smserror}}</h4>
    </div>
  </div>
  <div class="verify-container" *ngIf="formModification1">

    <div class="verify-content">
      <!-- Formulaire -->
      <div class="verify-commande" id="mobile-profil">
        <p>Modifier le profil</p>
        <hr>
        <form [formGroup]="registerForm" (ngSubmit)="updateForm()">
          <div style="display: flex">
            <div>
              <div class="col-md-12 px-2">
                <label for="nom">Pseudo :</label>
                <input type="text" id="nom" formControlName="lastname" [(ngModel)]="users.lastname"
                  class="form-control">
              </div>

              <div class="col-md-11 mx-2">
                <label for="email">Email :</label>
                <input type="email" id="email" formControlName="email" [(ngModel)]="users.email" class="form-control">
                <div style="color: red;" *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
                  Email non valide
                </div>
              </div>
            </div>
            <div>
              <div class="col-md-12">
                <label for="phone">Téléphone :</label>
                <input type="text" id="phone" formControlName="phone" [(ngModel)]="users.phone" class="form-control">
                <div style="color: red;" *ngIf="phone.errors?.['required']&& phone.touched">
                  Veuillez renseigner votre numero télephone!
                </div>
              </div>
            </div>
          </div>
          <div style="margin-left: 30%;">

            <button (click)="clearModification()" id="change" style="background-color: gray">Fermer</button>
            <button type="submit" style="margin-left: 5px;">Sauvegarder</button>

          </div>
          <hr>
        </form><br>

      </div>
    </div>
  </div>
</div>

<!-- tarif à l'espace info users -->
<div class="inscription" *ngIf="modal_info_tarif_user">
  <div class="verify-container">

    <div class="verify-content">
      <!-- Formulaire d'inscription -->
      <div class="verify-commande">
        <p>Choisir un tarif</p>

        <div class="tarif">
          <div class="produit" *ngFor="let produit of listTarif"
            (click)="clickTarifInfoUser(produit.id, produit.price)">
            <div class="card">
              <!-- Vous pouvez ajouter ici une image du produit -->
              <h6> Titre : {{produit.libelle}}</h6>
              <h6>Prix : {{produit.price}} FCFA</h6>
              <h6>Nombre de crédit : {{produit.credit}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button id="change" (click)="clearModification()">Fermer</button>
  </div>
</div>
<!-- fin -->

<!-- mot de passe change -->
<div class="inscription" *ngIf="changeMdp">

  <div id="popup1" class="overlay" *ngIf="showSnackbar3">
    <div class="popup">
      <h4 style="color: green;">Mise à jour success !!!</h4>
    </div>
  </div>
  <div id="popup1" class="overlay" *ngIf="showSnackbarError3">
    <div class="popup">
      <h4 style="color: red;">{{smserror}}</h4>
    </div>
  </div>
  <div *ngIf="showMdpForm" style="max-width: 100%; border-radius: 10px; ">

    <div class="verify-content">
      <!-- Formulaire -->
      <div class="verify-commande" id="mobile-password">
        <div style="display: flex; ">
          <div>
            <div id="img">
              <img src="../assets/Fichier 12.svg" alt="" width="150" height="100" class="img-fluid">
            </div><br><br>
            <p id="renitialiser">Réinitialiser mot de passe</p>
            <form [formGroup]="registerForm" (ngSubmit)="updatePassword()">
              <div class="form-group">
                <input type="password" id="password" formControlName="password" class="form-control"
                  placeholder="Nouveau mot de passe" required>
              </div>
              <div class="form-group">
                <input type="password" formControlName="confirm_password" id="confirm_password" required
                  placeholder="Confirmez le mot de passe" required>
              </div>
              <button type="submit">Rénitialisé</button>
              <button (click)="clearModification()" id="change">Fermer</button>
            </form><br>
          </div>

          <div style="margin-left: 20px;" class="d-none d-md-block">
            <img src="../../assets/_812b7d02-08fb-482c-b7c1-e8c4ef9b08c4 1.png" alt="" width="300px" height="400px"
              style="border-radius: 5px;">

          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- fin grille tarifaires -->
<div class="boutton d-flex">
  <div style="margin-right: 100%;">
    <button class="inscriptions" (click)="open_modal_modification()">
      <!-- N°00241{{ loggedInUser }} -->
      {{ loggedInUser }}
    </button>
  </div>
  <!-- fin Bouton inscription -->

  <div>
    <button class="connexion bg-black text-white" (click)="logout()"> <i class="fa fa-sign-out " aria-hidden="true"></i>
      Déconnexion</button>

  </div>
</div>
<button class="close-modal" *ngIf="selectedProduit || showCart" (click)="clear()"
  style="font-size: 10px;">Fermer</button>


<button class="shopping-cart-btn" (click)="openCartView()"><span class="count"
    *ngIf="carts.length > 0">{{nombreProduit}}</span>
  <img src="../assets/add-to-cart.png" alt="Panier">
</button>


<div class="modal" *ngIf="selectedProduit">
  <div id="popup1" class="overlay" *ngIf="showSnackbar4">
    <div class="popup">
      <h4 style="color: green;">Crédit débiter !!!</h4>
    </div>
  </div>

  <div class="verify-container">
    <div class="verify-content">

      <div class="verify-produit">
        <div class="img-container">
          <img [src]="selectedProduit.photoURL" *ngIf="selectedProduit.photoURL" alt="Image produit">
          <img src="../assets/placeholder.png" *ngIf="!selectedProduit.photoURL" alt="">
        </div>
        <div>
          <h3>{{selectedProduit.libelle}}</h3>
        </div>
        <button (click)="clear()">Rechercher d'autres produits</button>
      </div>
      <div class="verify-container" *ngIf="verifier_pharmacie" style="width: 500px">
        <div class="verify-commande text-center">
          <p>Vous ne pouvez pas effectuer cette action</p>
          <div>
            <p>Vous avez déjà débuté avec la pharmacie <b>{{pharmacieChoisi}}</b>, pour changer appuyer sur
              <b>Annuler</b> pour continuer avec <b>{{pharmacieChoisi}}</b>.
            </p>

          </div>
        </div>
        <div class="button-container">
          <button class="btn btn-secondary btn-block" (click)="clear()">Annuler</button>
        </div>
      </div>
      <div class="verify-result" *ngIf="!selectedPharmacy">
        <h3>
          <div class="loader-container" *ngIf="verifiedPharmacies.length == 0">
            <div class="loader"></div>
          </div>
          <span *ngIf="ajout_pharmacy">
            Recherche de la disponibilité en pharmacie...
          </span>

        </h3>

        <div class="pharmacies" *ngIf="ajout_pharmacy">

          <div class="pharmacy" *ngFor="let pharmacy of verifiedPharmacies">
            <div>
              <p class="name">{{pharmacy.nom}}</p>
              <p>{{pharmacy.adresse}}, Tel: {{pharmacy.telephone}}</p>
            </div>

            <button (click)="select(pharmacy)">Ajouter au panier</button>

          </div>
        </div>
      </div>

      <div class="verify-commande" *ngIf="selectedPharmacy">
        <h3>
          Confirmation de la reservation
        </h3>
        <h4>{{selectedPharmacy.nom}}</h4>
        <h5>{{selectedPharmacy.adresse}}, Tel: {{selectedPharmacy.telephone}}</h5>

        <div class="loader-container" *ngIf="commandeResult.start == true && commandeResult.success == null">
          <div class="loader"></div>
        </div>

        <div class="form-container" *ngIf="commandeResult.start == false && commandeResult.success == null">

          <!-- <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" [(ngModel)]="buyer" name="nom">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="buyerEmail" name="email">
      </div>
      <div class="form-group">
        <label for="telephone">Téléphone</label>
        <input type="text" [(ngModel)]="buyerPhone" name="telephone">
      </div> -->

          <div class="form-group">
            <label for="quantite">Quantité</label>
            <input type="number" [(ngModel)]="quantity" name="quantite">
          </div>
          <!-- Votre bouton -->
          <button *ngIf="quantity > 0" type="button" class="btn btn" style="background-color: #0F7ABB;"
            (click)="addToCart(selectedProduit.CIP, selectedProduit.libelle, selectedProduit.prix_vente); clear()">
            Valider
          </button>


        </div>

        <div *ngIf="commandeResult.start == false && commandeResult.success != null">
          <div class="result-message">{{commandeResult.message}}</div>

          <p *ngIf="commandeResult.success"><strong>Veuillez bien conserver le numéro de réservation pour la
              récuperation</strong></p>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal shopping-modal" *ngIf="showCart">
  <div id="popup1" class="overlay" *ngIf="showSnackbar6">
    <div class="popup">
      <h4 style="color: green;">Crédit débité !!!</h4>
    </div>
  </div>
  <div id="popup1" class="overlay" *ngIf="showSnackbarError6">
    <div class="popup">
      <h4 style="color: red;">{{smserror}}</h4>
    </div>
  </div>
  <div class="verify-container">
    <div class="verify-content">
      <div *ngIf="commandeResult.start == false && commandeResult.success != null">
        <div class="result-message">{{commandeResult.message}}</div>

        <p *ngIf="commandeResult.success"><strong>Veuillez bien conserver le numéro de réservation pour la
            récuperation. Les réservations expirent après 24h.</strong></p>
      </div>
      <div class="cart" *ngFor="let cart of carts; let i = index">
        <div class="verify-container" *ngIf="verifier_commander" style="width: 300px">
          <div class="verify-content d-flex flex-column align-items-center">
            <!-- Formulaire d'inscription -->
            <div class="verify-commande text-center">
              <p>Voulez-vous continuer ?</p>
              <div class="tarif">
                <p>Vous avez <b>{{ users.credit }}</b> crédit(s), cette action vaut <b>{{ creditUser }}</b> crédit(s)
                </p>

              </div>
            </div>
            <div class="button-container">
              <button class="btn btn-secondary btn-block" (click)="close_verif_commande()">Annuler</button>
              <button class="btn  btn-block" style="background-color: #0F7ABB;"
                (click)="commander(cart, i, creditUser)">Confirmer</button>
            </div>
          </div>
        </div>


        <span>Prix Total: <b>{{totalPrixVente}} FCFA</b></span>
        <div *ngIf="modal_commander">
          <h3><img src="../assets/add-to-cart.png" alt=""> {{cart.pharmacyName}}</h3>
          <div class="products-cart">
            <div class="product" *ngFor="let produit of cart.products">
              <span>{{produit.produitName}}</span>
              <span>{{produit.quantity}}</span>
              <span>{{produit.prix_vente}} FCFA</span>
              <button (click)="removeFromCart(produit.produitCIP, i)">Retirer</button>
            </div>
          </div>
          <div class="loader-container" *ngIf="commandeResult.start == true && commandeResult.success == null">
            <div class="loader"></div>
          </div>
          <!-- Bouton pour commander
          <button (click)="clickCommande('Commander les produits')"
            *ngIf="!(commandeResult.start == true && commandeResult.success == null)">Commander</button> -->
          <!--<button (click)="clickCommande('Commander les produits')"
            *ngIf="!(commandeResult.start == true && commandeResult.success == null)">
            Commander
          </button>-->
        </div>
      </div>
    </div>
  </div>
</div>