<div class="wrapper">
  <div class="main-content">
    <h1 class="logo"><span>TocTocToc</span><span class="logo-medoc">Medoc</span></h1>
    <p>Vérifiez la disponibilité des produits au niveau de la pharmacie TOTO.</p>
    <div class="form-group">
      <label>Rechercher un produit</label>
      <input type="search" (keyup)="applyFilter($event)" placeholder="Saisissez
        le nom du produit...">
    </div>

    <div class="row">
      <button class="show-more">En savoir plus</button>
    </div>

    <div class="results">
      <div class="result" *ngFor="let produit of filteredProduit">
        <div class="img-container">
          <img [src]="produit.photoURL" alt="">
        </div>
        <div class="row-between">
          <h4>{{produit.libelle}}</h4>
          <p class="gray">{{produit.prix_vente}} FCFA</p>
          <div class="row">
            <button (click)="verify(produit.CIP)">Vérifier</button>
            <p class="feedback" [ngClass]="{'is-green':
              getLastDisponibiliteByCIP(produit.CIP)}"
              *ngIf="getLastDisponibiliteByCIP(produit.CIP) != null">{{getLastDisponibiliteByCIP(produit.CIP)
              ? 'Disponible' :
              'Indisponible'}}</p>
          </div>

          <div class="column" *ngIf="getLastDisponibiliteByCIP(produit.CIP) == true">
            <button (click)="commander(produit)">Commander</button>
          </div>
        </div>
      </div>

    </div>
  </div>