.close-modal {
    position: fixed;
    top: 5rem;
    right: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: black;
    color: white;
    font-size: 3.0em;
    box-shadow: 1px 0.5px 20px #00000025;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
}

@media only screen and (max-width: 600px) {
    #mobile-background-login {
        background-image: url("/assets/_483668e6-f804-4744-91d6-a4b1b632322d.png");
        background-size: cover;
        opacity: 0.7;
    }
}

.shopping-cart-btn {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: white;
    color: white;
    font-size: 3.0em;
    box-shadow: 1px 0.5px 20px #00000025;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    img {
        width: 32px;
        position: absolute;
    }
    span {
        position: relative;
        bottom: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
        min-width: 25px;
        min-height: 25px;
        border-radius: 100px;
        background: red;
        color: white;
        box-shadow: 1px 0.5px 10px #00000025;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        z-index: 2222;
    }
}

.register {
    position: fixed;
    top: 2rem;
    right: 5rem;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: white;
    color: white;
    font-size: 3.0em;
    box-shadow: 1px 0.5px 20px #00000025;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    img {
        width: 32px;
        position: absolute;
    }
}

.logout {
    position: fixed;
    top: 2rem;
    right: 5rem;
    width: 150px;
    height: 45px;
    border-radius: 100px;
    background-color: white;
    color: black;
    font-size: 3.0em;
    box-shadow: 1px 0.5px 20px #00000025;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: small;
}

.boutton {
    position: fixed;
    top: 2rem;
    right: 5rem;
    width: 150px;
    height: 45px;
    border-radius: 100px;
    background-color: transparent;
    color: black;
    font-size: 3.0em;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: small;
}

.connexion {
    position: fixed;
    top: 2rem;
    right: 5px;
    width: 100px;
    height: 45px;
    border-radius: 100px;
    background-color: #27318D;
    color: black;
    font-size: 3.0em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: small;
}

.inscriptions {
    position: fixed;
    top: 2rem;
    width: 100px;
    height: 45px;
    border-radius: 100px;
    background-color: rgb(49, 185, 49);
    color: black;
    font-size: 3.0em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    font-size: small;
}

#username {
    position: fixed;
    top: 2rem;
    left: 6rem;
    width: 150px;
    height: 45px;
    border-radius: 100px;
    font-size: 3.0em;
    box-shadow: 1px 0.5px 20px #00000025;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

#select {
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    margin-left: 5px;
}

.no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 1rem;
    p {
        text-align: center;
        padding: 2rem;
        background-color: #fafafa;
        color: #777;
        font-size: 14px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        i {
            font-size: 2.0em;
            color: #ccc;
        }
    }
}

.navbar {
    position: fixed;
    bottom: 2rem;
    left: 0;
    width: 100vw;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    p {
        background: #323232;
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 100px;
        box-shadow: 1px 0.5px 10px #00000025;
        font-size: 14px;
        font-weight: 200;
    }
    button {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #c9c9c9;
        color: #c9c9c9;
        background: transparent;
    }
}

.wrapper {
    background-color: #27318D;
    min-height: 100vh;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    main {
        width: 1244px;
        max-width: 100%;
        padding: 1rem;
        .search-title {
            text-align: center;
            padding: 1rem;
            padding-top: 4rem;
        }
        .produit-container {
            background-color: white;
            min-height: 50vh;
            width: 100%;
            margin-top: 4rem;
            border-radius: 4px;
            box-shadow: 1px 0.5px 10px #00000025;
            .form-group-search {
                display: flex;
                justify-content: center;
                padding: 1rem;
                padding-top: 1rem;
                width: 100%;
                input {
                    padding: 0.5rem;
                    border-radius: 100px;
                    width: 400px;
                    max-width: 100%;
                    border: 1px solid #ccc;
                    font-family: "Poppins", sans-serif;
                    transition: 0.4s;
                }
                input:focus {
                    outline: 2px solid #27318D;
                    font-weight: bold;
                    color: #27318D;
                }
            }
            .produits {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                flex-wrap: wrap;
                justify-content: center;
                padding: 2rem;
                .produit {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    align-items: center;
                    width: 300px;
                    max-width: 100%;
                    box-shadow: 1px 0.5px 10px #00000025;
                    padding: 1rem;
                    h4 {
                        text-align: center;
                        color: #27318D;
                        font-size: 1.0em;
                        padding-bottom: 1rem;
                    }
                    button {
                        width: 100%;
                        background: transparent;
                        border: 1px solid #27318D;
                        color: #27318D;
                        border-radius: 100px;
                        padding: 0.5rem;
                        font-weight: bold;
                        margin-top: 2rem;
                        transition: 0.4s;
                    }
                    .gray {
                        font-size: 0.9em;
                        font-weight: 200;
                        text-align: center;
                        color: #777;
                    }
                    button:hover {
                        cursor: pointer;
                        background: #27318D;
                        color: white;
                    }
                    .img-container {
                        width: 200px;
                        height: 200px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        img {
                            width: 200px;
                        }
                    }
                }
            }
        }
    }
    header {
        h1 {
            font-size: 4em;
            text-align: center;
            color: white;
        }
        h2 {
            font-weight: lighter;
            color: white;
            font-size: 2em;
            text-align: center;
            margin-bottom: 2rem;
        }
        p {
            text-align: center;
            font-size: 1.3em;
            color: white;
            font-family: "Poppins", sans-serif;
            a {
                color: #fafafa;
                padding: 0.5rem 2rem;
                border: 1px solid #fafafa;
                border-radius: 100px;
                text-decoration: none;
                margin-top: 2rem;
                display: inline-block;
                font-size: 16px;
                background: white;
                color: #27318D;
                transition: 0.4s;
            }
            a:hover {
                opacity: 0.7;
            }
        }
    }
}

.modal {
    background: linear-gradient(#000000c7, #000000c7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .verify-container {
        box-shadow: 1px -0.5px 10px #000000c7;
        padding: 1rem;
        background: white;
        .verify-content {
            display: flex;
            gap: 1rem;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-wrap: wrap;
            .verify-result {
                width: 600px;
                max-width: 100%;
                padding: 1rem;
                h3 {
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    span {
                        font-weight: normal;
                        color: #27318D;
                        font-family: "Roboto", sans-serif;
                        font-size: 0.8em;
                    }
                    .loader {
                        border: 2px solid #f3f3f3;
                        border-radius: 100%;
                        border-top: 2px solid #27318dbe;
                        width: 32px;
                        height: 32px;
                        -webkit-animation: spin 0.4s linear infinite;
                        /* Safari */
                        animation: spin 0.8s linear infinite;
                    }
                }
                .pharmacies {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    padding: 1rem;
                    padding-top: 2rem;
                    max-height: 70vh;
                    overflow-y: scroll;
                    .pharmacy {
                        display: flex;
                        gap: 1rem;
                        align-items: center;
                        width: 100%;
                        justify-content: space-between;
                        p {
                            font-size: 12px;
                            color: #777;
                            margin-bottom: 0.3rem;
                        }
                        .name {
                            font-size: 16px;
                            color: #27318D;
                            margin-bottom: 0.5rem;
                            font-weight: bold;
                        }
                        button {
                            border: 1px solid #27318D;
                            color: #27318D;
                            padding: 0.3rem 1rem;
                            background: transparent;
                            font-weight: bold;
                            border-radius: 100px;
                        }
                    }
                }
            }
            .verify-commande {
                width: 500px;
                max-width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                h4 {
                    color: #27318D;
                    font-weight: normal;
                    margin-bottom: 0rem;
                }
                h5 {
                    font-weight: normal;
                    font-size: 12px;
                    color: #27318D;
                    line-height: 1.0em;
                    margin-bottom: 1rem;
                }
                button {
                    background: #27318D;
                    color: white;
                    border: none;
                    padding: 0.5rem 1rem;
                    border-radius: 4px;
                }
                .form-group {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                    padding-bottom: 1rem;
                    input {
                        padding: 0.4rem;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                    }
                    label {
                        font-size: 12px;
                        color: #777;
                    }
                }
            }
            .verify-produit {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                padding: 1rem;
                button {
                    font-weight: bold;
                    border: none;
                    background: transparent;
                    color: #27318D;
                    transition: 0.4s;
                }
                button:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }
                .img-container {
                    width: 200px;
                    height: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    img {
                        width: 200px;
                    }
                }
                h3,
                h4,
                h5 {
                    text-align: center;
                    color: #000000;
                }
                h4 {
                    color: #777;
                    font-weight: normal;
                    padding: 1rem;
                }
            }
        }
    }
}

.tarif {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    cursor: pointer;
    .produit {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        width: 300px;
        max-width: 100%;
        box-shadow: 1px 0.5px 10px #00000025;
        padding: 1rem;
        h6 {
            text-align: center;
            color: #27318D;
            font-size: 1.0em;
            padding-bottom: 1rem;
        }
        button {
            width: 100%;
            background: transparent;
            border: 1px solid #27318D;
            color: #27318D;
            border-radius: 100px;
            padding: 0.5rem;
            font-weight: bold;
            margin-top: 2rem;
            transition: 0.4s;
        }
        .gray {
            font-size: 0.9em;
            font-weight: 200;
            text-align: center;
            color: #777;
        }
        button:hover {
            cursor: pointer;
            background: #27318D;
            color: white;
        }
        .img-container {
            width: 200px;
            height: 200px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
                width: 200px;
            }
        }
    }
}

button {
    transition: 0.4s;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.result-message {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    line-height: 1.5em;
    color: darkorchid;
    padding: 1rem;
}

@media (max-width: 470px) {
    .wrapper {
        header {
            h1 {
                font-size: 2.5em;
            }
            h2 {
                font-size: 1.5em;
            }
            p {
                text-align: center;
                font-size: 16px;
            }
        }
    }
}

.shopping-modal {
    .verify-content {
        max-height: 90vh;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        .cart {
            padding: 1rem;
            border: 1px solid #ccc;
            button {
                border: none;
                padding: 0.5rem;
                background: #27318D;
                color: white;
                border-radius: 4px;
            }
            img {
                width: 2rem;
            }
            h3 {
                font-weight: bold;
                color: #27318D;
                margin-bottom: 1rem;
                display: flex;
                gap: 1rem;
                align-items: center;
            }
            .product {
                display: flex;
                flex-direction: row;
                gap: 2rem;
                justify-content: space-between;
                align-items: center;
                padding-left: 1rem;
                padding-right: 1rem;
                padding-bottom: 0.5rem;
                color: #777;
            }
            button {
                margin-left: 1rem;
            }
        }
    }
}

//modal inscription
//fin modal inscription
//
.inscription {
    background: linear-gradient(#626067c7, #302f33c7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    display: flex;
    justify-content: center;
    /* Centre le contenu horizontalement */
    align-items: center;
    /* Centre le contenu verticalement */
    .verify-container {
        padding: 1rem;
        background: white;
        max-width: 500px;
        /* Largeur maximale de 1024 pixels */
        width: 100%;
        /* Pour s'assurer que la largeur ne dépasse pas l'écran */
        /* ... le reste de votre code ... */
    }
    .verify-commande {
        /* Largeur maximale du formulaire */
        margin: 0 auto;
        /* Centre le formulaire horizontalement */
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        p {
            color: #27318D;
            font-weight: normal;
            text-align: center;
            /* Centre le texte horizontalement */
        }
        h3 {
            color: #27318D;
            font-weight: normal;
            text-align: center;
            /* Centre le texte horizontalement */
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .form-group {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-size: 14px;
                    color: #27318D;
                }
                input {
                    padding: 0.8rem;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    font-size: 14px;
                    width: 100%;
                    /* 100% de la largeur de son conteneur */
                    transition: border-color 0.3s ease-in-out;
                    /* Animation de transition pour la couleur de la bordure */
                    &:focus {
                        border-color: #27318D;
                        /* Couleur bleue lorsqu'il est cliqué */
                        outline: none;
                        /* Supprime la bordure par défaut de certains navigateurs */
                    }
                }
            }
            button {
                background: #27318D;
                color: white;
                border: none;
                padding: 0.5rem 1rem;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                transition: background 0.3s ease-in-out;
                /* Animation de transition pour la couleur de fond */
                &:hover {
                    background: #1a237e;
                    /* Couleur légèrement plus sombre au survol */
                }
            }
        }
    }
    #change {
        background: #b4cce5;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
    }
}

.tarif {
    max-height: 400px;
    /* Ajustez la hauteur maximale selon vos besoins */
    overflow-y: auto;
    /* Ajoute une barre de défilement vertical si nécessaire */
}

.produit {
    display: flex;
    flex-wrap: wrap;
    margin: -5px;
}

.card {
    width: calc(70% - 10px);
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}

#imgLog {
    margin-bottom: 40%;
    margin-left: 15%;
}

.form-login {
    p {
        color: black;
        font-weight: normal;
        font-size: small;
        /* Centre le texte horizontalement */
    }
    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .form-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            label {
                font-size: 14px;
                color: #27318D;
            }
            input {
                padding: 0.8rem;
                border: 1px solid #000000;
                border-radius: 4px;
                font-size: 14px;
                width: 100%;
                /* 100% de la largeur de son conteneur */
                transition: border-color 0.3s ease-in-out;
                /* Animation de transition pour la couleur de la bordure */
                &:focus {
                    border-color: #27318D;
                    /* Couleur bleue lorsqu'il est cliqué */
                    outline: none;
                    /* Supprime la bordure par défaut de certains navigateurs */
                }
            }
        }
        button {
            background: #27318D;
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            transition: background 0.3s ease-in-out;
            /* Animation de transition pour la couleur de fond */
            &:hover {
                background: #1a237e;
                /* Couleur légèrement plus sombre au survol */
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #mobile-password {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 1)), url("../assets/_812b7d02-08fb-482c-b7c1-e8c4ef9b08c4\ 1.png");
        background-size: cover;
    }
    #img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #renitialiser {
        color: white;
    }
}

@media only screen and (max-width: 600px) {
    .produits-container {
        overflow-y: scroll;
    }
    #mobile-profil {
        background-size: cover;
    }
    #row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    #col-12 {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0 15px;
    }
    #col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    #col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    /* Styles for smaller screens */
    @media (max-width: 767px) {
        #col-md-8,
        #col-md-4 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /* Additional responsive styles as needed */
    /* Example: Hide some elements on small screens */
    #d-sm-none {
        display: none;
    }
    /* Example: Adjust padding and font size for smaller screens */
    #col-12,
    #col-md-8,
    #col-md-4,
    #card {
        padding: 0.5rem;
    }
    #col-md-8 {
        margin-top: 20%;
    }
    /* Example: Adjust font size for smaller screens */
    #small-text {
        font-size: 12px;
    }
    #badge {
        max-width: 100%;
    }
}

.produits-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
}

.produit {
    flex-basis: calc(50% - 10px);
    margin-bottom: 20px;
}

.card {
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 90%;
    background-color: #DEE3EB;
}

.card:hover {
    transform: scale(1.05);
}

.product-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.product-price {
    font-size: 16px;
    color: #007bff;
}

.credit-quantity {
    font-size: 16px;
    color: #28a745;
}
