<div class="navbar">
  <button (click)="previousPage()"><i class="fa-solid fa-chevron-left"></i></button>
  <p>Page {{ currentPageIndex + 1 }} / {{ pageCount }}</p>
  <button (click)="nextPage()"><i class="fa-solid fa-chevron-right"></i></button>
</div>


<div class="wrapper">
  <main>
    <header>
      <h1>TocTocMedoc</h1>
      <h2>By E-Pharma GA</h2>
      <p>Cette solution vous permet d'avoir la disponibilité des produits et faire des réservations dans toutes les
        pharmacies possédant le logiciel ePharma</p>

      <p>
        <a href="https://epharma.ga">En savoir plus</a>

      </p>
    </header>

    <div class="produit-container">
      <p class="search-title">Recherchez des produits sur la page actuelle, utilisez les flèches pour changer de page
      </p>

      <div class="form-group-search">
        <input type="search" name="search" id="search" (keyup)="applyFilter($event)"
               placeholder="Trouver un produit...">
      </div>

      <div class="loader-container" *ngIf="filteredProduit.length == 0 && hasResult == false">
        <div class="loader"></div>
      </div>

      <div class="no-result" *ngIf="filteredProduit.length == 0 && hasResult == true">

        <p><i class="fa-solid fa-magnifying-glass"></i> Aucun résultat sur cette page, veuillez vérifier sur les autres
          pages !</p>
      </div>

      <div class="produits">
        <div class="produit" *ngFor="let produit of filteredProduit">
          <div class="img-container">
            <img [src]="produit.photoURL" *ngIf="produit.photoURL" alt="">
            <img src="../assets/placeholder.png" *ngIf="!produit.photoURL" alt="">
          </div>
          <div class="row-between">
            <h4>{{ produit.libelle }}</h4>
            <!-- <p class="gray">{{produit.prix_vente}} FCFA</p> -->
            <p class="gray">{{ produit.code_table ? 'Sous ordonnance' : '' }}</p>
            <div class="row">
              <button (click)="open_inscription()">Vérifier</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="inscription" *ngIf="modal_register">
  <div id="popup1" class="overlay" *ngIf="showSnackbar1">
    <div class="popup">
      <h4 style="color: green;">Inscription success !!!</h4>
    </div>
  </div>

  <div id="popup1" class="overlay" *ngIf="showSnackbarError1">
    <div class="popup">
      <h4 style="color: red;">{{ smserror }}</h4>
    </div>
  </div>

  <div class="loader-container" *ngIf="loader">
    <div class="loader"></div>
  </div>

  <div class="" *ngIf="formInscription" style="width: 80vw; border-radius: 10px; position: relative">
    <!-- loader -->
    <div id="verify-container">
      <div class="verify-content position-relative" *ngIf="formInscription">
        <div style="position: absolute; top: 0; left: 0; width:100%; height: 40vh" id="mobile-background-register" *ngIf="form1"></div>
        <!-- Formulaire d'inscription -->
        <div class="verify-commande">

          <form [formGroup]="registerForm" (ngSubmit)="submitRegistrationForm()">
            <div style="position: relative; margin: 0px">

              <div class="d-flex" style="position: relative;">
                <div class="flex-fill large-screen-input-container">
                  <div>
                    <div id="img">
                      <img src="../assets/logo.png" alt="" width="100px" height="50px" class="img-fluid">
                    </div>
                    <br><br>
                    <h6 id="inscripton" *ngIf="form1"><b>BIENVENU</b></h6>
                    <div style="width: 80%;" *ngIf="form1">
                      <small id="inscripton">Inscivez-vous pour commencer à chercher des médicaments près de chez vous</small>
                    </div>
                  </div>
                  <div class="d-flex row g-3 mt-2" *ngIf="form1">
                    <div class="large-screen-input w-100">
                      <input id="input" type="text" id="nom" formControlName="lastname" [(ngModel)]="users.lastname"
                             class="form-control" placeholder="Pseudo" required>
                      <div style="color: red;" *ngIf="lastname.errors?.['required'] && lastname.touched">
                        Veuillez renseigner votre pseudo!
                      </div>
                    </div>
                    <div class="large-screen-input w-100">
                      <input id="input" type="email" id="email" formControlName="email" [(ngModel)]="users.email"
                             class="form-control" placeholder="Adresse email" required>
                      <div style="color: red;" *ngIf="email.errors?.['email'] && (email.dirty || email.touched)">
                        Email non valide
                      </div>
                    </div>

                    <div class="large-screen-input w-100">
                      <input id="input" type="text" id="phone" formControlName="phone" [(ngModel)]="users.phone"
                             class="form-control" placeholder="Numéro de téléphone" required>
                      <div style="color: red;" *ngIf="phone.errors?.['required'] && phone.touched">
                        Veuillez renseigner votre numéro de téléphone!
                      </div>
                    </div>

                    <div class="large-screen-input w-100">
                      <input id="input" type="password" id="password" formControlName="password"
                             [(ngModel)]="users.password" class="form-control" placeholder="Mot de passe" required>
                      <div style="color: red;" *ngIf="password.errors?.['required'] && password.touched">
                        Veuillez renseigner votre mot de passe!
                      </div>
                    </div>

                    <div class="large-screen-input w-100">
                      <input id="input" type="password" id="confirm_password" formControlName="confirm_password"
                             [(ngModel)]="users.confirm_password" class="form-control"
                             placeholder="Confirmer le mot de passe">
                      <div style="color: red;"
                           *ngIf="confirm_password.errors?.['required'] && confirm_password.touched">
                        Veuillez renseigner votre mot de passe!
                      </div>
                    </div>

                    <div class="d-flex large-screen-input w-100">
                      <button id="reset" (click)="forminvisible()" class="btn btn-primary flex-fill">S'inscrire</button>
                      <button id="change" (click)="clear()" class="btn btn-secondary flex-fill"
                              style="margin-left: 5px;">Fermer
                      </button>
                    </div>


                  </div>
                </div>
                <div style="margin-left: 20px;" class="d-none d-md-block flex-fill r" *ngIf="form1">
                  <img src="../../assets/_483668e6-f804-4744-91d6-a4b1b632322d.png" width="100%" height="auto">
                </div>
              </div>
            </div>
            <div class="verify-container- mx-auto text-center" *ngIf="contrat">
              <div class="verify-content">

                <div class="verify-commande " style="max-height: 400px; overflow-y: auto;">
                  <p><u>Conditions d'Utilisation de l'Application de Disponibilité des Médicaments TOCTOC MEDOC</u></p>
                  <br> Bienvenue sur l'application de disponibilité des médicaments TOCTOCMEDOC. Cette application est
                  exploitée par la société E-pharma GA En utilisant cette application, vous acceptez les conditions
                  énoncées ci-dessous.
                  Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser l'application. <br>

                  <p class="text-justify">
                    <li>1. Objectif de l'Application L'objectif principal</li>
                  </p>
                  L'objectif principal de l'Application est de fournir aux utilisateurs des informations en temps réel
                  sur la disponibilité des médicaments dans les pharmacies locales. Ces informations sont fournies à
                  titre indicatif et ne remplacent en aucun cas les conseils
                  professionnels d'un professionnel de la santé.

                  <p class="text-justify">
                    <li>2. Utilisation Responsable</li>
                  </p>
                  En utilisant l'Application, vous acceptez de l'utiliser de manière responsable. Vous vous engagez à ne
                  pas utiliser l'Application à des fins illégales, nuisibles, frauduleuses ou qui pourraient causer un
                  préjudice à d'autres utilisateurs ou à l'entreprise.

                  <p class="text-justify">
                    <li>3. Exactitude des Informations</li>
                  </p>
                  Bien que nous nous efforcions de fournir des informations précises, nous ne garantissons pas
                  l'exactitude, l'exhaustivité ou l'actualité des données fournies par l'Application. Les utilisateurs
                  sont encouragés à vérifier directement auprès des pharmacies
                  pour confirmer la disponibilité des médicaments.

                  <p class="text-justify">
                    <li>4. Protection des Données Personnelles</li>
                  </p>
                  Nous prenons la protection de vos données personnelles au sérieux. En utilisant l'Application, vous
                  consentez à la collecte et à l'utilisation de vos données conformément à notre politique de
                  confidentialité. Veuillez consulter notre politique de confidentialité
                  pour plus d'informations sur la manière dont nous traitons vos données.

                  <p class="text-justify">
                    <li>5. Responsabilité</li>
                  </p>
                  L'entreprise ne peut être tenue responsable des préjudices résultant de l'utilisation de
                  l'Application. Les utilisateurs comprennent et acceptent que l'utilisation de l'Application est à
                  leurs propres risques.

                  <p class="text-justify">
                    <li>6. Modifications des Conditions</li>
                  </p>
                  Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications
                  seront publiées sur l'Application, et il vous incombe de les consulter régulièrement. En continuant à
                  utiliser l'Application après la publication des
                  modifications, vous acceptez les conditions mises à jour.

                  <p class="text-justify">
                    <li>7. Contact</li>
                  </p>
                  Pour toute question ou préoccupation concernant ces conditions d'utilisation, veuillez nous contacter.
                  <br><br> Merci d'utiliser notre Application !



                </div>
                <button type="button" class="btn btn-secondary btn-block mt-2" (click)="annulerText()"
                        style="margin-right: 20px">Annuler
                </button>
                <button type="submit" class="btn btn-primary btn-block mt-2" id="reset">Accepter</button>
              </div>
            </div>

          </form>

        </div>


      </div>

    </div>
    <!-- <div class="verify-container- mx-auto text-center" *ngIf="contrat">
      <div class="verify-content">
        <div class="verify-commande " style="max-height: 400px; overflow-y: auto;">
          <p><u>Conditions d'Utilisation de l'Application de Disponibilité des Médicaments TOCTOC MEDOC</u></p>
          <br> Bienvenue sur l'application de disponibilité des médicaments TOCTOCMEDOC. Cette application est exploitée
          par la société E-pharma GA En utilisant cette application, vous acceptez les conditions énoncées ci-dessous.
          Si vous n'acceptez
          pas ces conditions, veuillez ne pas utiliser l'application. <br>

          <p class="text-justify">
            <li>1. Objectif de l'Application L'objectif principal</li>
          </p>
          L'objectif principal de l'Application est de fournir aux utilisateurs des informations en temps réel sur la
          disponibilité des médicaments dans les pharmacies locales. Ces informations sont fournies à titre indicatif et
          ne remplacent en aucun cas les conseils
          professionnels d'un professionnel de la santé.

          <p class="text-justify">
            <li>2. Utilisation Responsable</li>
          </p>
          En utilisant l'Application, vous acceptez de l'utiliser de manière responsable. Vous vous engagez à ne pas
          utiliser l'Application à des fins illégales, nuisibles, frauduleuses ou qui pourraient causer un préjudice à
          d'autres utilisateurs ou à l'entreprise.

          <p class="text-justify">
            <li>3. Exactitude des Informations</li>
          </p>
          Bien que nous nous efforcions de fournir des informations précises, nous ne garantissons pas l'exactitude,
          l'exhaustivité ou l'actualité des données fournies par l'Application. Les utilisateurs sont encouragés à
          vérifier directement auprès des pharmacies
          pour confirmer la disponibilité des médicaments.

          <p class="text-justify">
            <li>4. Protection des Données Personnelles</li>
          </p>
          Nous prenons la protection de vos données personnelles au sérieux. En utilisant l'Application, vous consentez
          à la collecte et à l'utilisation de vos données conformément à notre politique de confidentialité. Veuillez
          consulter notre politique de confidentialité
          pour plus d'informations sur la manière dont nous traitons vos données.

          <p class="text-justify">
            <li>5. Responsabilité</li>
          </p>
          L'entreprise ne peut être tenue responsable des préjudices résultant de l'utilisation de l'Application. Les
          utilisateurs comprennent et acceptent que l'utilisation de l'Application est à leurs propres risques.

          <p class="text-justify">
            <li>6. Modifications des Conditions</li>
          </p>
          Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment. Les modifications seront
          publiées sur l'Application, et il vous incombe de les consulter régulièrement. En continuant à utiliser
          l'Application après la publication des
          modifications, vous acceptez les conditions mises à jour.

          <p class="text-justify">
            <li>7. Contact</li>
          </p>
          Pour toute question ou préoccupation concernant ces conditions d'utilisation, veuillez nous contacter.
          <br><br> Merci d'utiliser notre Application !

          

        </div>
        <button type="button" class="btn btn-secondary btn-block mt-2" (click)="annulerText()"
                style="margin-right: 20px">Annuler
        </button>
        <button type="submit" class="btn btn-primary btn-block mt-2" id="reset">Accepter</button>
      </div>
    </div> -->
  </div>
</div>

<div class="inscription d-flex justify-content-center align-items-center" *ngIf="loginFormVisible">
  <div id="popup1" class="overlay" *ngIf="showSnackbar">
    <div class="popup">
      <h4 style="color: green;">Connexion success !!!</h4>
    </div>
  </div>
  <div id="popup1" class="overlay" *ngIf="showSnackbarError">
    <div class="popup">
      <h4 style="color: red;">{{ smserror }}</h4>
    </div>
  </div>
  <!-- Formulaire de connexion -->
  <div *ngIf="loginFormVisible" style="width: 70vw; border-radius: 10px; position: relative" id="mobile">
    <div id="verify-container">
        <div class="verify-content position-relative" *ngIf="loginFormVisible">
          <div style="position: absolute; top: 0; left: 0; width:100%; height: 40vh" id="mobile-background-login" *ngIf="loginFormVisible"></div>

          <div class="verify-commande">
            <form (ngSubmit)="submitLoginForm()">
              <!-- ... Champs de connexion ... -->
              <div style="position: relative; margin: 0px">

                <div class="d-flex" style="position: relative;">
                  <div class="flex-fill large-screen-input-container">
                    <div>
                      <div id="img">
                        <img src="../assets/logo.png" alt="" width="100px" height="50px" class="img-fluid">
                      </div>
                      <br>
                      <h5 id="changeMdp" style="font-weight: 10px;">BON RETOUR PARMIS NOUS</h5>
                      <small id="changeMdp">Connectez-vous et commencez à chercher des médicaments</small>
                    </div>

                    <div class="d-flex row g-3 mt-2" *ngIf="loginFormVisible">

                      <div class="form-group large-screen-input w-100">
                        <input type="email" [(ngModel)]="users.username" id="email" name="username" required
                               placeholder="Entrez votre adresse mail">
                      </div>
                      <div class="form-group large-screen-input w-100">
                        <input type="password" [(ngModel)]="users.password" id="password" name="password" required
                               placeholder="Mot de passe">
                      </div>
                      <a (click)="open_reset_password()" style="font-size: 10px; cursor: pointer">Mot de passe oublié
                        ?</a>
                      <button type="submit">Se connecter</button>
                      <button id="change" (click)="clear()" style="float: right; margin-top: 15px">Quitter</button>
                    </div>
                  </div>

                  <div style="margin-left: 20px;" class="d-none d-md-block flex-fill r" *ngIf="loginFormVisible">
                    <img src="../assets/_48438b55-a0f0-4a9a-afee-88d44dad7f1c.png" alt="" width="100%" height="auto">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>


<!-- mot de passe oublié, formulaire  -->
<div class="inscription" *ngIf="ResetPassword">
  <div id="popup1" class="overlay" *ngIf="showSnackbar5">
    <div class="popup">
      <h4 style="color: green;">Mot de passe rénitialisé, vérifier votre boite mail</h4>
    </div>
  </div>
  <div id="popup1" class="overlay" *ngIf="showSnackbarError5">
    <div class="popup">
      <h4 style="color: red;">{{ smserror }}</h4>
    </div>
  </div>
  <div class="verify-container" id="verify-container" *ngIf="changerPass">

    <div class="verify-content" style="display: flex">
      <!-- Formulaire de connexion -->
      <div class="verify-commande" id="mobile-mdp-update">
        <p id="changeMdp">Changer votre mot de passe</p><br>
        <form [formGroup]="registerForm" (ngSubmit)="changePassword()">
          <!-- ... Champs de connexion ... -->
          <div class="container d-flex align-items-center justify-content-center">
            <img src="../assets/logo.png" alt="" width="100px" height="50px" class="img-fluid">
          </div>
          <div class="form-group">

            <input type="email" id="email" formControlName="email" class="form-control" placeholder="Entrez votre mail"
                   required>
            <div *ngIf="registerForm.get('email')?.hasError('required')">
              Le champ email ne peut pas être vide.
            </div>
          </div>
          <button type="submit">Réinitialiser</button>
          <button (click)="clearModification()" id="change">Quitter</button>
        </form>
      </div>

      <!-- <div class="d-none d-md-block px-3">
                <img src="../assets/image.png" alt="" width="300px" height="500px" style="border-radius: 5px;">
            </div> -->
    </div>
  </div>
</div>

<!-- formulaire d'infomation user  -->


<div class="inscription" *ngIf="modal_tarif">
  <div class="verify-container">

    <div class="verify-content">
      <!-- Formulaire d'inscription -->
      <div class="verify-commande">
        <p>Choisir un tarif</p>

        <div>
          <div class="container d-flex align-items-center justify-content-center">
            <img src="../assets/logo.png" alt="" width="100px" height="50px" class="img-fluid">
          </div>
          <br><br>

          <div class="produits-container">
            <div class="produit" *ngFor="let produit of listTarif">
              <div id="card" class="card">
                <!-- Vous pouvez ajouter ici une image du produit -->
                <h6 class="product-title">{{ produit.libelle }}</h6>
                <div style="display: flex;">
                  <div>
                    <p class="product-price">{{ produit.price }} FCFA</p>
                  </div>
                  <div style="margin-left: 30%">
                    <p class="credit-quantity">{{ produit.credit }} crédits</p>
                  </div>
                </div>
                <hr>
                <button class=" btn badge mt-2" style="width: 50%; background-color: #30267F"
                        (click)="clickTarif(produit.id, produit.price)"><small id="badge">Acheter</small></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id="change" (click)="clear()">Fermer</button>
    </div>
  </div>
</div>


<!-- fin -->


<!-- modal des modification user -->


<!-- fin grille tarifaires -->
<div class="boutton d-flex">
  <div style="margin-right: 100%;">
    <button *ngIf="loggedInUser" class="inscriptions" (click)="open_modal_modification()">
      <!-- N°00241{{ loggedInUser.id }} -->
      {{ loggedInUser.lastname }}
    </button>
  </div>
  <!-- fin Bouton inscription -->

  <div>
    <button class="connexion bg-black text-white" *ngIf="loggedInUser" (click)="deconnexion()"><i
      class="fa fa-sign-out " aria-hidden="true"></i> Déconnexion
    </button>

  </div>
</div>
<button class="close-modal" *ngIf="selectedProduit || showCart" (click)="clear()">&times;</button>

<div class="boutton d-flex" *ngIf="!loggedInUser">
  <div class="" style="margin-right: 100px;">
    <button *ngIf="!loggedInUser" class="inscriptions" (click)="open_register()"> Inscription</button>
  </div>
  <div class="mx-2 px-2">
    <button *ngIf="!loggedInUser" (click)="open_inscription()" class="connexion bg-black text-white"> Connexion</button>
  </div>

</div>
<button class="shopping-cart-btn" (click)="openCartView()"><span class="count"
                                                                 *ngIf="carts.length > 0">{{ carts.length }}</span>
  <img src="../assets/add-to-cart.png" alt="Panier">
</button>


<div class="modal" *ngIf="selectedProduit">
  <div class="verify-container">
    <div class="verify-content">
      <div class="verify-produit">
        <div class="img-container">
          <img [src]="selectedProduit.photoURL" *ngIf="selectedProduit.photoURL" alt="Image produit">
          <img src="../assets/placeholder.png" *ngIf="!selectedProduit.photoURL" alt="">
        </div>
        <div>
          <h3>{{ selectedProduit.libelle }}</h3>
        </div>
        <button (click)="clear()">Rechercher d'autres produits</button>
      </div>
      <div class="verify-result" *ngIf="!selectedPharmacy">
        <h3>
          <div class="loader-container" *ngIf="verifiedPharmacies.length == 0">
            <div class="loader"></div>
          </div>
          <span>
            Recherche de la disponibilité en pharmacie...
          </span>
        </h3>

        <div class="pharmacies">
          <div class="pharmacy" *ngFor="let pharmacy of verifiedPharmacies">
            <div>
              <p class="name">{{ pharmacy.nom }}</p>
              <p>{{ pharmacy.adresse }}, Tel: {{ pharmacy.telephone }}</p>
            </div>

            <button (click)="select(pharmacy)">Ajouter au panier</button>

          </div>
        </div>
      </div>

      <div class="verify-commande" *ngIf="selectedPharmacy">
        <h3>
          Confirmation de la reservation
        </h3>
        <h4>{{ selectedPharmacy.nom }}</h4>
        <h5>{{ selectedPharmacy.adresse }}, Tel: {{ selectedPharmacy.telephone }}</h5>

        <div class="loader-container" *ngIf="commandeResult.start == true && commandeResult.success == null">
          <div class="loader"></div>
        </div>

        <div class="form-container" *ngIf="commandeResult.start == false && commandeResult.success == null">

          <!-- <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" [(ngModel)]="buyer" name="nom">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="buyerEmail" name="email">
          </div>
          <div class="form-group">
            <label for="telephone">Téléphone</label>
            <input type="text" [(ngModel)]="buyerPhone" name="telephone">
          </div> -->

          <div class="form-group">
            <label for="quantite">Quantité</label>
            <input type="number" [(ngModel)]="quantity" name="quantite">
          </div>
          <button *ngIf="quantity > 0"
                  (click)="addToCart(selectedProduit.CIP, selectedProduit.libelle)">Valider
          </button>

        </div>

        <div *ngIf="commandeResult.start == false && commandeResult.success != null">
          <div class="result-message">{{ commandeResult.message }}</div>

          <p *ngIf="commandeResult.success"><strong>Veuillez bien conserver le numéro de réservation pour la
            récuperation</strong></p>
        </div>

      </div>

    </div>
  </div>
</div>

<div class="modal shopping-modal" *ngIf="showCart">
  <div class="verify-container">
    <div class="verify-content">
      <div *ngIf="commandeResult.start == false && commandeResult.success != null">
        <div class="result-message">{{ commandeResult.message }}</div>

        <p *ngIf="commandeResult.success"><strong>Veuillez bien conserver le numéro de réservation pour la
          récuperation. Les réservations expirent après 24h.</strong></p>
      </div>
      <div class="cart" *ngFor="let cart of carts; let i = index">
        <h3><img src="../assets/add-to-cart.png" alt=""> {{ cart.pharmacyName }}</h3>
        <div class="products-cart">
          <div class="product" *ngFor="let produit of cart.products">
            <span>{{ produit.produitName }}</span>
            <span>{{ produit.quantity }}</span>
            <button (click)="removeFromCart(produit.produitCIP, i)">Retirer</button>
          </div>
        </div>
        <div class="loader-container" *ngIf="commandeResult.start == true && commandeResult.success == null">
          <div class="loader"></div>
        </div>
        <button (click)="commander(cart, i)"
                *ngIf="!(commandeResult.start == true && commandeResult.success == null)">Commander
        </button>
      </div>
    </div>
  </div>
</div>
